* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #141B24 url(../img/header/header-photo.png) no-repeat top left;
  background-size: contain;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Gilroy Ultra Light';
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gilroy Ultra Light', sans-serif;
  color: #fff;
}

.button {
  height: 79px;
  border: none;
  background-color: #2B60C0;
  font-size: 14px;
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.section {
  margin-top: 150px;
}

.section-suptitle {
  font-size: 44px;
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 44px;
  text-transform: uppercase;
}

.section__suptitle, .section__subtitle {
  margin: 0;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.navbar-wrap-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 470px;
}

.navbar-wrap__phone {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 30px;
}

.navbar-wrap__text {
  font-family: 'Gilroy Medium', sans-serif;
  font-size: 12px;
  max-width: 77px;
}

.navbar-wrap__button {
  min-width: 220px;
  height: 60px;
}

.menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 14px;
  padding-top: 14px;
}

.menu-container {
  max-width: 860px;
  margin-left: 375px;
  margin-right: auto;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-size: 16px;
  font-family: 'Gilroy Medium', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.hero {
  padding-top: 57px;
  padding-bottom: 100px;
  position: relative;
}

.hero__title {
  display: block;
  width: 700px;
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 54px;
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
}

.hero__info {
  margin-bottom: 60px;
}

.hero__info-container {
  display: inline-block;
  width: 140px;
  margin-right: 60px;
}

.hero__button {
  min-width: 320px;
}

.hero__car {
  position: absolute;
  top: 0;
  right: 0;
}

.features {
  color: #20262F;
  margin-top: 100px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.features-block__item {
  padding: 50px 40px 20px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  border: 1px solid #E5E8EC;
  position: relative;
}

.features-block__item:before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #2B60C0;
  position: absolute;
  top: 56%;
}

.features-block__image {
  margin-bottom: 97px;
  height: 70px;
}

.features-block__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.features-block__text {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 82px;
  font-size: 16px;
}

.preorder {
  background: url("../img/preorder-bg.png") no-repeat top right;
  background-size: contain;
  min-height: 560px;
  position: relative;
}

.preorder-rightside {
  margin-left: auto;
  margin-right: 0;
  max-width: 481px;
}

.preorder__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  padding-top: 85px;
  font-size: 48px;
  margin-bottom: 50px;
}

.preorder__button {
  min-width: 380px;
  margin-bottom: 15px;
}

.preorder__text {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
}

.preorder__car {
  position: absolute;
  top: -41px;
  left: 11%;
}

.services {
  color: #20262F;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.services-block__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.services-block__image {
  display: block;
}

.services-block__text {
  display: block;
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 19px;
  margin-top: 14px;
  margin-bottom: 33px;
  min-height: 50px;
}
/*# sourceMappingURL=style.css.map */