* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #141B24 url(../img/header/header-photo.png) no-repeat top left;
  background-size: contain;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Gilroy Ultra Light';
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gilroy Ultra Light', sans-serif;
  color: #fff;
}

.button {
  height: 79px;
  border: none;
  background-color: #2B60C0;
  font-size: 14px;
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.button-disable {
  background: #ffffff;
  color: #20262F;
}

.section {
  margin-top: 150px;
}

.section-suptitle, .section-subtitle {
  font-size: 44px;
  text-transform: uppercase;
  color: #20262F;
}

.section-suptitle {
  font-family: 'Gilroy Extra Bold', sans-serif;
}

.section__suptitle, .section__subtitle {
  margin: 0;
}

.input, .form__button {
  display: block;
  min-height: 70px;
  min-width: 340px;
  font-size: 14px;
  padding: 0 28px;
  border: 1px solid #E8E9ED;
  background-color: #ffffff;
  text-align: left;
  line-height: 22px;
}

.input::-webkit-input-placeholder, .form__button::-webkit-input-placeholder {
  color: black;
}

.input:-moz-placeholder, .form__button:-moz-placeholder {
  color: black;
}

.input::-moz-placeholder, .form__button::-moz-placeholder {
  color: black;
}

.input:-ms-input-placeholder, .form__button:-ms-input-placeholder {
  color: black;
}

.form__column, .form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__column-item {
  margin-bottom: 10px;
}

.form__column-item:last-child {
  margin-bottom: 0;
}

.form__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button-icon {
  display: block;
  background: url("../img/plus.png") no-repeat center right;
  height: 14px;
  width: 14px;
  line-height: 22px;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.navbar-wrap-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 470px;
}

.navbar-wrap__phone {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 30px;
}

.navbar-wrap__text {
  font-family: 'Gilroy Medium', sans-serif;
  font-size: 12px;
  max-width: 77px;
}

.navbar-wrap__button {
  min-width: 220px;
  height: 60px;
}

.menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 14px;
  padding-top: 14px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu__link {
  font-size: 16px;
  font-family: 'Gilroy Medium', sans-serif;
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.hero {
  padding-top: 57px;
  padding-bottom: 100px;
  position: relative;
}

.hero__title {
  display: block;
  width: 700px;
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 54px;
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
}

.hero__info {
  margin-bottom: 60px;
}

.hero__info-container {
  display: inline-block;
  width: 140px;
  margin-right: 60px;
}

.hero__button {
  min-width: 320px;
}

.hero__car {
  position: absolute;
  top: 0;
  right: 0;
}

.features {
  color: #20262F;
  margin-top: 100px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.features-block__item {
  padding: 50px 40px 20px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  border: 1px solid #E5E8EC;
  position: relative;
}

.features-block__item:before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #2B60C0;
  position: absolute;
  top: 56%;
}

.features-block__image {
  margin-bottom: 97px;
  height: 70px;
}

.features-block__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.features-block__text {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 82px;
  font-size: 16px;
}

.preorder {
  background: url("../img/preorder-bg.png") no-repeat top right;
  background-size: contain;
  min-height: 560px;
  position: relative;
}

.preorder-rightside {
  margin-left: auto;
  margin-right: 0;
  max-width: 481px;
}

.preorder__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  padding-top: 85px;
  font-size: 48px;
  margin-bottom: 50px;
}

.preorder__button {
  min-width: 380px;
  margin-bottom: 15px;
}

.preorder__text {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
}

.preorder__car {
  position: absolute;
  top: -41px;
  left: 11%;
}

.services {
  color: #20262F;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.services-block__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.services-block__image {
  display: block;
}

.services-block__text {
  display: block;
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 19px;
  margin-top: 14px;
  margin-bottom: 33px;
  min-height: 50px;
}

.tariff {
  background: url("../img/tariff-bg.png") no-repeat top left;
  background-size: contain;
  padding-bottom: 90px;
  padding-top: 120px;
}

.tariff__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.tariff-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff-heading__buttons {
  font-size: 0;
}

.tariff__button {
  display: inline-block;
  padding: 30px 36px;
  margin: 0;
}

.tariff-block {
  color: #20262F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.tariff-block__item {
  background-color: #ffffff;
  max-width: 370px;
  padding: 30px;
  font-family: 'Gilroy Regular', sans-serif;
}

.tariff-block__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
}

.tariff-block__subtitle {
  font-family: 'Gilroy Medium', sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 22px;
}

.tariff-block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E8E9ED;
  border-bottom: 1px solid #E8E9ED;
  padding: 20px 0px;
}

.tariff-block__cost {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-size: 28px;
  color: #2B60C0;
  min-width: 110px;
}

.tariff-block__cost-info {
  font-size: 12px;
}

.tariff-block__additional {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 5px;
  list-style: none;
  text-transform: lowercase;
  font-size: 15px;
  line-height: 22px;
}

.tariff-block__additional-item:before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 3px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
  margin-right: 5px;
}

.tariff-block__image-car {
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tariff-block__description {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 22px;
}

.tariff-block__button {
  width: 100%;
}

.calculator-container {
  border: 3px solid #2B60C0;
  padding: 40px;
}

.calculator__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.warranty {
  min-height: 635px;
  padding-top: 110px;
  padding-bottom: 76px;
  background: url("../img/warranty-bg.png") no-repeat top left;
  background-size: contain;
}

.warranty-container {
  position: relative;
}

.warranty__car {
  display: block;
  position: absolute;
  top: -27%;
  right: -10%;
}

.warranty__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  margin: 0;
}

.warranty-block {
  margin-top: 45px;
}

.warranty-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.warranty-block__text {
  max-width: 390px;
}

.warranty-block__title {
  font-family: 'Gilroy Extra Bold', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.warranty-block__subtext {
  font-size: 16px;
  min-height: 82px;
  line-height: 24px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */