body
    +light
    color: $text-color
.button
    height: 79px
    border: none
    background-color: $blue
    font-size: 14px
    +bold
    text-transform: uppercase
    color: $text-color
    &-disable
        background: #ffffff
        color: $text-color-secondary
.section
    margin-top: 150px
    &-suptitle
        font-size: 44px
        +bold
        text-transform: uppercase
    &-subtitle
        font-size: 44px
        text-transform: uppercase
    &__suptitle, &__subtitle
        margin: 0