.hero
    padding-top: 57px
    padding-bottom: 100px
    &__title
        display: block
        width: 700px
        margin-bottom: 46px
        font-size: 54px
        +bold 
        text-transform: uppercase
    &__info
        margin-bottom: 65px
    &__info-container
        display: inline-block
        width: 140px
        margin-right: 60px
    &__car
        position: absolute
        top: 160px
        left: 400px
    
