.navbar
    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 60px
        padding-top: 20px
        padding-bottom: 20px
        text-align: center
        &-rightside
            display: flex
            justify-content: space-between
            align-items: center
            min-width: 470px
        &__phone
            +bold
            font-size: 30px
        &__text
            +medium 
            font-size: 12px
            max-width: 77px
        &__button
            min-width: 220px
            height: 60px
